* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #121316;
  font-family: 'Liberation Sans', 'Arial'; }

@media (max-width: 768px) {
  html {
    font-size: 50%; } }

@media (max-width: 480px) {
  html {
    font-size: 37.5%; } }

@media (min-width: 2000px) {
  html {
    font-size: 75%; } }

@media (min-width: 4000px) {
  html {
    font-size: 100%; } }

body {
  overflow-x: hidden; }

@media (min-width: 1140px) {
  .container {
    max-width: 114rem;
    margin: 0 auto; } }

.about {
  opacity: 100;
  min-height: 100vh;
  color: #eee;
  font-size: 2.4rem;
  font-weight: 500;
  text-align: justify; }
  .about:target:before {
    content: "";
    display: block;
    height: 8rem;
    margin: -8rem 0 0; }
  .about__header {
    margin-bottom: 4rem; }
  .about__content {
    margin: 0 2rem; }

@keyframes slideFromRight {
  0% {
    left: 110vw; }
  100% {
    left: 0vw; } }

.hero__name {
  animation: 2s slideFromRight 0.5s;
  animation-fill-mode: backwards; }

.hero__title-line1 {
  animation-duration: 2.2s;
  animation-name: slideFromRight;
  animation-delay: 0.5s;
  animation-fill-mode: backwards; }

.hero__title-line2 {
  animation-duration: 2.4s;
  animation-name: slideFromRight;
  animation-delay: 0.5s;
  animation-fill-mode: backwards; }

.hero__lines--red {
  animation-duration: 0.8s;
  animation-name: slideFromRight;
  animation-delay: 0.5s;
  animation-fill-mode: backwards; }

.hero__lines--green {
  animation-duration: 1s;
  animation-name: slideFromRight;
  animation-delay: 0.5s;
  animation-fill-mode: backwards; }

.hero__lines--blue {
  animation-duration: 1.2s;
  animation-name: slideFromRight;
  animation-delay: 0.5s;
  animation-fill-mode: backwards; }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

@keyframes slideFromLeft {
  0% {
    left: -110vw; }
  100% {
    left: 0vw; } }

.navigation {
  animation: opacity 1s 3s;
  animation-fill-mode: backwards; }
  .navigation__underline--red {
    animation: 0.4s slideFromLeft;
    animation-fill-mode: backwards; }
  .navigation__underline--green {
    animation: 0.6s slideFromLeft;
    animation-fill-mode: backwards; }
  .navigation__underline--blue {
    animation: 0.8s slideFromLeft;
    animation-fill-mode: backwards; }

.about {
  transition: opacity 1s; }

.projects {
  transition: opacity 1s; }

.contact {
  transition: opacity 1s; }

.contact {
  opacity: 100;
  min-height: 100vh;
  color: #eee;
  font-size: 2.4rem;
  font-weight: 500;
  text-align: justify; }
  .contact:target:before {
    content: "";
    display: block;
    height: 8rem;
    margin: -8rem 0 0; }
  .contact__header {
    margin-bottom: 4rem; }
  .contact__content {
    margin: 0 2rem; }

.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: #eee;
  overflow-x: hidden;
  backface-visibility: hidden; }
  .hero__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(-14deg);
    width: 110%;
    line-height: 1; }
  .hero__name {
    position: relative;
    font-family: 'Helvetica Neue Bold', 'Liberation Sans', 'Arial';
    font-size: 6.4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  .hero__title {
    font-family: 'Helvetica Neue Bold', 'Liberation Sans', 'Arial';
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-right: 11.5rem; }
    .hero__title-line1 {
      display: inline-block;
      position: relative;
      font-size: 6.4rem;
      color: #fad205;
      margin-bottom: -1rem; }
    .hero__title-line2 {
      display: inline-block;
      position: relative;
      font-size: 6rem; }
    .hero__title--small {
      font-size: 3.2rem; }

.hero__lines {
  font-size: 0px;
  overflow: hidden; }
  .hero__lines--red {
    display: block;
    position: relative;
    background-color: #fe272a;
    height: 1.5rem;
    width: 100%; }
  .hero__lines--green {
    display: block;
    position: relative;
    background-color: #6fb716;
    height: 1.5rem;
    width: 100%; }
  .hero__lines--blue {
    display: block;
    position: relative;
    background-color: #1aa2c9;
    height: 1.5rem;
    width: 100%; }

.navigation {
  font-weight: 700;
  background-color: #121316;
  display: block;
  width: 100%;
  position: fixed;
  z-index: 2; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 2rem;
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    margin: 1rem 2rem; }
  .navigation__link:hover {
    color: #fad205; }
  .navigation__underline {
    display: none;
    font-size: 0px; }
    .navigation__underline--red {
      display: inline-block;
      position: relative;
      background-color: #fe272a;
      height: 1px;
      width: 100%; }
    .navigation__underline--green {
      display: inline-block;
      position: relative;
      background-color: #6fb716;
      height: 1px;
      width: 100%; }
    .navigation__underline--blue {
      display: inline-block;
      position: relative;
      background-color: #1aa2c9;
      height: 1px;
      width: 100%; }

.projects {
  min-height: 100vh;
  color: #eee;
  font-size: 2.4rem;
  font-weight: 500;
  text-align: justify; }
  .projects:target:before {
    content: "";
    display: block;
    height: 8rem;
    margin: -8rem 0 0; }
  .projects__header {
    margin: 0 2rem 4rem; }
  .projects__item {
    display: flex;
    flex-direction: row;
    background-color: #1f2125;
    border-radius: 3px;
    padding: 4rem;
    margin: 4rem 2rem; }
    @media (max-width: 639px) {
      .projects__item {
        flex-direction: column; } }
    .projects__item-description {
      flex-basis: 70%;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .projects__item-description p {
      font-size: 1.8rem; }
    .projects__item-links {
      margin: 1rem 0 1rem 0.2rem; }
    .projects__item-imagebox {
      position: relative;
      flex-basis: 30%;
      flex-shrink: 0; }
      @media (max-width: 639px) {
        .projects__item-imagebox {
          margin-right: 0;
          margin-bottom: 2rem; } }
    .projects__item-image {
      max-width: 100%;
      max-height: 100%; }
      @media (min-width: 640px) {
        .projects__item-image {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); } }
