@keyframes slideFromRight {
  0% {
    transform: translateX(110vw);
  }

  100% {
    transform: translateX(0);
  }
}

.hero__name {
  animation: 1.6s slideFromRight 0.5s;
  animation-fill-mode: backwards;
  will-change: transform;
}

.hero__title {
  &-line-top {
    animation-duration: 1.8s;
    animation-name: slideFromRight;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    will-change: transform;
  }

  &-line-bottom {
    animation-duration: 2s;
    animation-name: slideFromRight;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    will-change: transform;
  }
}

.hero__line {
  animation-name: slideFromRight;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  will-change: transform;

  &--red {
    animation-duration: 0.8s;
  }

  &--green {
    animation-duration: 1s;
  }

  &--blue {
    animation-duration: 1.2s;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-110vw);
  }

  100% {
    transform: translateX(0);
  }
}

.navigation {
  animation: opacity 1s 2.5s;
  animation-fill-mode: backwards;

  &__underline {
    animation-name: slideFromLeft;
    animation-fill-mode: backwards;
    will-change: transform;

    &--red {
      animation-duration: 0.4s;
    }

    &--green {
      animation-duration: 0.6s;
    }

    &--blue {
      animation-duration: 0.8s;
    }
  }
}

.about,
.projects,
.contact {
  transition: opacity 1s;
}

.contact-state {
  transition: all 0.5s;
}
