.footer {
  text-align: center;
  font-size: 1.6rem;

  &__logobox img {
    padding-top: 1rem;
    max-width: 2rem;
  }

  &__copyright {
    padding: 1rem;
    color: #ddd;
  }

  &__inspired-by {
    padding-bottom: 1rem;
    color: #666;
  }
  
  &__ytlink {
    & i {
      color: $vhs-red;
    }

    &,
    &:link,
    &:visited {
      color: #aaa;
      text-decoration: none;
    }
    
  }
}