$vhs-red: #fe272a;
$vhs-green: #6fb716;
$vhs-blue: #1aa2c9;
$vhs-yellow: #fad205;
$vhs-white: #eee;
$vhs-black: #121316;
$vhs-grey: #1f2125;

@import "./about";
@import "./animations";
@import "./contact";
@import "./footer";
@import "./hero";
@import "./navigation";
@import "./projects";
